* {
    background-color: blanchedalmond;
    color: black;
  }
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  /* Style the header */
header {
    text-align: center;
    font-size: 15px;
    border: 3px solid black;
    background: url(https://w7.pngwing.com/pngs/949/693/png-transparent-blender-3d-computer-graphics-computer-software-3d-modeling-animation-open-source-graphics-3d-computer-graphics-orange-linux.png);
    background-size: 100px 80px;
    background-repeat: no-repeat;
    padding: 15px;
  }
h1{
    margin-left: 100px;
  }
ol {
    list-style-type:disc;
    margin: 5px 5px 5px 5px;
    padding: 10px;
    overflow: hidden;
  }
li{
    margin:5px 5px 5px 5px;
  }
  #background{
    position:relative;
    z-index:1;
    width:50%;
    height:50%;
    float: left;
    margin-left:15px;
    margin-right: 15px;
  }
  div.noticia {
    width: 100%;
    color: #fff;
    padding: 15px;
  }
 .aside{
    display: right;
    text-align: justify;
  }
  div.reset {
    clear: both;
    text-align: center;
  }
  .container {
    width: 98%;
    height: 80px;
    line-height: 80px;
    position: relative;
    top: 20px;
    min-width: 250px;
    margin-top: 50px;
    display: flex;
  }
  .container-decor {
    border: 4px solid #01080c;
    color: rgb(236, 231, 231);
    font-family: times;
    font-size: 25px;
    background: #6794af;
    text-align:center;
  }
  .container:before {
    top: -33px;
    left: 48%;
    transform: rotate(45deg);
    position: absolute;
    border: solid #020a0f;
    border-width: 4px 0 0 4px;
    background: #7caac7;
    content: '';
    width: 56px;
    height: 56px;
  }
  #AVG{
    text-align: center;
    font-size: 15px;
    border: 3px solid black;
    background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/2/25/Kodi-logo-Thumbnail-light-transparent.png/600px-Kodi-logo-Thumbnail-light-transparent.png);
    background-size: 100px 80px;
    background-repeat: no-repeat;
    padding: 15px;
  }
  .flex-container {
    display: flex;
  }
  
  .flex-container > div {
    background-color: rgba(69, 179, 199, 0.8);
    margin: 10px;
    padding: 20px;
    font-size: 20px;
  }
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    padding: 10px;
  }
  
  .grid-container > div {
    background-color: rgba(69, 179, 199, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 15px;
  }